:root {
	--flanders-art-sans-light: "Flanders Art Sans Light";
	--flanders-art-sans-medium: "Flanders Art Sans Medium";
	--flanders-art-sans-bold: "Flanders Art Sans Bold";
	--flanders-art-sans: "Flanders Art Sans";
}

@font-face {
	font-family: "Flanders Art Sans Light";
	src: url("../fonts/FlandersArtSans-Light.eot");
	src: url("../fonts/FlandersArtSans-Light.woff") format("woff"),
		url("../fonts/FlandersArtSans-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
}

@font-face {
    font-family: "Flanders Art Sans Medium";
	src: url("../fonts/FlandersArtSans-Medium.eot");
	src: url("../fonts/FlandersArtSans-Medium.woff") format("woff"),
    url("../fonts/FlandersArtSans-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
    font-family: "Flanders Art Sans Bold";
	src: url("../fonts/FlandersArtSans-Bold.eot");
	src:
    url("../fonts/FlandersArtSans-Bold.woff") format("woff"),
    url("../fonts/FlandersArtSans-Bold.ttf") format("truetype");
    
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Flanders Art Sans";
	src: url("../fonts/FlandersArtSans-Regular.eot");
	src:
		url("../fonts/FlandersArtSans-Regular.woff") format("woff"),
		url("../fonts/FlandersArtSans-Regular.ttf") format("truetype");

	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Flanders Art Serif Bold";
	src: url("../fonts/FlandersArtSerif-Bold.eot");
	src:		url("../fonts/FlandersArtSerif-Bold.woff") format("woff"),
		url("../fonts/FlandersArtSerif-Bold.ttf") format("truetype");

	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Flanders Art Serif Light";
	src: url("../fonts/FlandersArtSerif-Light.eot");
	src: 
		url("../fonts/FlandersArtSerif-Light.woff") format("woff"),
		url("../fonts/FlandersArtSerif-Light.ttf") format("truetype");

	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "Flanders Art Serif Medium";
	src: url("../fonts/FlandersArtSerif-Medium.eot");
	src: 
		url("../fonts/FlandersArtSerif-Medium.woff") format("woff"),
		url("../fonts/FlandersArtSerif-Medium.ttf") format("truetype");

	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Flanders Art Serif";
	src: url("../fonts/FlandersArtSerif-Regular.eot");
	src: 
		url("../fonts/FlandersArtSerif-Regular.woff") format("woff"),
		url("../fonts/FlandersArtSerif-Regular.ttf") format("truetype");

	font-style: normal;
	font-weight: 400;
}

html, body {
    margin: 0;
  
    --body-width: 414px;
    --body-height: 896px;

    font-family: var(--flanders-art-sans);
	color: #333332;
  }